.settings/
.myeclipse/
.gradle/
*/.settings
*/.classpath
*/.project
*/logs
.classpath
.project
.idea/
.svn/
.metadata/
*.iml
psh-security-app/target/
psh-security-browser/target/
psh-security-core/target/
psh-security-demo/target/
target/
logs/